<% @title = "#{@doc_instance.full_name} #{@doc_instance.type}" %>

<%= include "partials/title", :object => @doc_instance, :methodized => @methodized %>

<div class="section">
  <div class="section-title">
  </div> <!-- .section-title -->
  <div class="section-content">
    <div class="method-description">
      <% if @doc_instance.is_a?(Documentation::Method) %>
        <%= include "partials/method_signatures", :object => @doc_instance, :methodized => @methodized %>
      <% else %>
        <pre class="syntax"><code class="ebnf"><%= @doc_instance.signature %> &rarr; <%= auto_link_types(@doc_instance.returns, :name => :long).join(' | ') %></code></pre>
      <% end %>

      <%= htmlize(@doc_instance.description) %>
      
      <%= include "partials/relationships", :object => @doc_instance %>
      <%= include "partials/methodized_note", :object => @doc_instance, :methodized => @methodized %>
    </div>
  </div> <!-- .section-content -->
</div> <!-- .section -->
