<% @title = "#{@doc_instance.full_name} " %>

<%= include "partials/title", :object => @doc_instance %>
<%= include "partials/description", :object => @doc_instance %>

<% if @doc_instance.respond_to?(:utilities) && @doc_instance.utilities? %>
  <%= layout_section('Utilities') %>
    <ul class="method-list">
      <% @doc_instance.utilities.each do |utility| %>  
        <li><%= auto_link_code(utility) %></li>
      <% end %>
    </ul>
  <%= end_layout_section %>
<% end %>

<%= include "partials/namespaces", :object => @doc_instance %>
<%= include "partials/classes", :object => @doc_instance %>
<%= include "partials/mixins", :object => @doc_instance %>