<% methodized ||= false
   @title = object.full_name %>

<% if object.deprecated? %>
  <div id="deprecated"><%= img_tag('deprecated.png', :alt => "Deprecated", :width => 150, :height => 150) %></div>
<% end %>

<ul class="breadcrumbs clearfix">
  <li><a href="<%= path_prefix %>">Home</a></li>
  <% breadcrumb(object, :name => :short, :methodized => methodized).each do |crumb| %>
    <li>&rarr; <%= crumb %></li>
  <% end %>
</ul>

<h2 class="page-title">
  <% if methodized %>
    <span class="type">instance method</span> <%= methodize_full_name(object) %>
  <% else %>
    <span class="type"><%= object.type %></span> <%= object.full_name %>
  <% end %>
</h2>
